# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks

# Nada de claves aqui dentro
*.env
clave*.txt
